main {
	padding-bottom: 80px;
}

footer {
	background: var(--blue);
	justify-content: right;
	align-items: end;
	grid-gap: 30px;
	padding: 40px;

	p {
		margin: 0;
	}

	.col {
		grid-gap: 15px;
	}
}

.copyright {
	color: var(--gray);
	padding: 20px;
	text-align: center;

	a {
		color: var(--grey);
	}
}
