@import url("common.css");

main {
	header {
		display: flex;
		justify-content: center;
		height: 300px;
		padding-top: 50px;
	}

	h1 {
		color: var(--gray);
		width: 300px;
		text-align: center;
		margin: 0;
	}

	h2 {
		border-radius: 10px;
		width: fit-content;
		padding: 10px 20px;
		box-shadow: 4px 4px 0 0 var(--gray);
		margin-top: 80px;
	}

	p {
		padding: 0 40px;
		color: var(--gray);
	}

	.card {
		width: 300px;
		border-radius: 10px;

		img {
			width: 100%;
			border-radius: 5px 5px 0 0;
		}

	}

	.cards, .images {
		padding: 40px;
		grid-gap: 50px;
		justify-content: center;
	}

	.images {
		img {
			border-radius: 10px;
		}
	}

	.logos {
		padding: 40px;
		grid-gap: 100px;
		justify-content: center;

		img {
			height: 150px;
		}
	}

	.left {
		margin-left: -10px;
	}

	.right {
		margin-left: auto;
		margin-right: -10px;
	}
}
