@import url("common.css");

main {
	header {
		display: flex;
		justify-content: center;
		height: 300px;
		padding-top: 50px;
	}

	h1 {
		color: var(--gray);
		width: 300px;
		text-align: center;
		margin: 0;
		text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	}
	
	h2 {
		border-radius: 10px;
		width: fit-content;
		padding: 10px 20px;
		box-shadow: 4px 4px 0 0 var(--gray);
		margin-top: 80px;
	}

	p {
		padding: 0 40px;
		color: var(--gray);
	}

	.background {
		* {
			position: absolute;
			z-index: -1;
		}
		
		.triangle {
			width: 350px;

			&:nth-child(1) {
				top: 150px;
				left: -125px;
				transform: rotate(190deg);
				animation: rotate 500s infinite linear;

				@keyframes rotate {
					100% {
						transform: rotate(550deg);
					}
				}
			}

			&:nth-child(3) {
				top: 1150px;
				left: -150px;
				transform: rotate(25deg);
				animation: rotate 270s infinite linear;

				@keyframes rotate {
					100% {
						transform: rotate(385deg);
					}
				}
			}
		}
		
		.ellipse {
			width: 350px;
			right: -200px;
			top: 300px;
			transform: rotate(-20deg);
			animation: rotate 150s infinite linear;

			@keyframes rotate {
				100% {
					transform: rotate(-380deg);
				}
			}
		}
		
		@media (min-width: 1400px) {
			.ellipse {
				right: calc(50vw - 900px);
			}
			
			.triangle {
				&:nth-child(1) {
					left: calc(50vw - 825px);
				}

				&:nth-child(3) {
					left: calc(50vw - 850px);
				}
			}
		}
	}

	.card {
		width: 300px;
		border-radius: 10px;

		img {
			width: 100%;
			border-radius: 5px 5px 0 0;
		}

	}

	.cards, .images {
		padding: 40px;
		grid-gap: 50px;
		justify-content: center;
	}

	.images {
		img {
			border-radius: 10px;
		}
	}

	.logos {
		padding: 40px;
		grid-gap: 100px;
		justify-content: center;

		img {
			height: 150px;
		}
	}

	.left {
		margin-left: -10px;
	}

	.right {
		margin-left: auto;
		margin-right: -10px;
	}
}
